body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8af9ff;
}
.envelope{
    position: relative;
    cursor: pointer;
}
.back{
    position: relative;
    width: 250px;
    height: 200px;
    background-color: #6247aa;
}
.front{
    position: absolute;
    border-right: 130px solid #815ac0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 120px;
    z-index: 3;
}
.front:before{
    content: '';
    position: absolute;
    border-left: 130px solid #815ac0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: -100px;
    left: -120px;
}
.front:after{
    content: '';
    position: absolute;
    border-bottom: 105px solid #7251b5;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: -5px;
    left: -120px;


}
.top{
    position: absolute;
    border-top: 105px solid #9163cb;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 0px;
    transform-origin: top;
    transition: 0.4s;
}
.envelope:hover .top{
    transform: rotateX(160deg);
}
.letter{
    position: absolute;
    background-color: white;
    width: 230px;
    height: 180px;
    top: 10px;
    left: 10px;
}
.envelope:hover .letter{
    animation: example 2s linear;
    transform: translateY(-100px);
    z-index: 2;
}
.envelope:hover .heart{
    animation: heartBeat 0.5s linear infinite;
}
.text1{
    position: absolute;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    top: -90%;
    left: 15px;
}
.text {
    text-align: center;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    margin-right: 50px;
    top: -20px;
    left: 20px;
}

@keyframes example {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(-100px);
    }
}



/* HEART*/

.heart{
    background-color: #fc03a1;
    height: 70px;
    width: 70px;
    position: relative;
    top: 20px;
    left: 30px;
    transform: rotate(-45deg);
    box-shadow: -5px 10px 90px ;
}
@keyframes heartBeat {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    70% {
        transform: rotate(-45deg) scale(1);
    }
    100% {
        transform: rotate(-45deg) scale(0.08);
    }
    
}
.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #fc03a1;
    top: -40px;
    border-radius: 50px;
    
}
.heart:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #fc03a1;
    right: -40px;
    border-radius: 50px ;

}